.about-section {
  /* background-image: url('https://via.placeholder.com/1600x900'); Replace with an actual educational background image URL */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px;
  color: white; /* Ensures text remains visible on the background */
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background for readability */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

.about-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.about-content {
  max-width: 600px;
  margin-left: 40px;
}

.about-content h3 {
  color: #ffb300;
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-weight: 600;
}

.about-content h1 {
  font-size: 36px;
  color: #fff;
  margin-bottom: 20px;
  font-weight: bold;
}

.about-content p {
  font-size: 16px;
  color: #ddd;
  line-height: 1.8;
  margin-bottom: 30px;
}

.about-button {
  background-color: #ffb300;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.about-button:hover {
  background-color: #ffa000;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
