.fa{
  color: orange;
    font-size: 30px;
}

.contact-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
    
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .logo-part1 {
    color: orange;
  }
  
  .logo-part2 {
    color: #333;
  }
  
  .logo-part3 {
    color: #666;
  }
  
  .contact-details {
    display: flex;
    gap: 40px;
  }
  
  .contact-item {
    display: flex;
    align-items: center;
  }
  
  .icon-location, .icon-email, .icon-phone {
    font-size: 24px;
    color: orange;
    margin-right: 10px;
  }
  
  .contact-text {
    font-size: 14px;
  }
  
  .contact-text h4 {
    margin: 0;
    font-weight: bold;
    color: #333;
  }
  
  .contact-text p {
    margin: 0;
    color: #666;
    font-size: 14px;
  }
  